<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <div class="container">
    <div class="button-container">
      <button id="toggleButton" onclick="darkMode()">Change Color Theme</button>
      </div>
    <div class="welcome-header">
      
      <h2>Welcome to&nbsp;</h2><h2 class="rydqvist">Rydqvist&nbsp;</h2><h2>Blog</h2>
    </div>

    <div class="login-section">
      <h2>Login</h2>

      <% if (typeof message !== 'undefined') { %>
        <div class="alert-ok" role="alert">
          <%= message %>
        </div>
      <% } %>

      <form action="/login" method="POST" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="login-button">Login</button>
      </form>

      <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2024 Rydqvist Blog.</p>
  </footer>

  <script>
    function setTheme() {
  const isDarkMode = localStorage.getItem('darkMode') === 'true';
  const bodyElement = document.body;
  const containerElement = document.querySelector('.container');

  if (isDarkMode) {
    bodyElement.classList.add('dark-mode');
    containerElement.classList.add('dark-mode-container');
  }
}

// Funktion för att byta temat
function darkMode() {
  var element = document.body;
  var containerElement = document.querySelector('.container');
  var toggleButton = document.getElementById('toggleButton');

  element.classList.toggle("dark-mode");
  containerElement.classList.toggle("dark-mode-container");

  // Spara temainställningen i localstorage
  const isDarkMode = element.classList.contains('dark-mode' || 'dark-mode-container');
  localStorage.setItem('darkMode', isDarkMode.toString());
}

// Anropa setTheme vid sidans laddning för att sätta temat
document.addEventListener('DOMContentLoaded', setTheme);
  </script>
</body>
</html>
