<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="button-container">
      <button id="toggleButton" onclick="darkMode()">Change Color Theme</button>
      </div>
    <h2>Register</h2>
    <% if (typeof message !== 'undefined') { %>
      <div class="alert-error" role="alert">
        <%= message %>
      </div>
    <% } %>
    <br>
    <form action="/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button class="reg-button" type="submit">Register</button>
    </form>
    <a class="already-user" href="/login">Already have an account? Login</a>
  </div>


  <script>
   function setTheme() {
  const isDarkMode = localStorage.getItem('darkMode') === 'true';
  const bodyElement = document.body;
  const containerElement = document.querySelector('.container');

  if (isDarkMode) {
    bodyElement.classList.add('dark-mode');
    containerElement.classList.add('dark-mode-container');
  }
}

// Funktion för att byta temat
function darkMode() {
  var element = document.body;
  var containerElement = document.querySelector('.container');

  element.classList.toggle("dark-mode");
  containerElement.classList.toggle("dark-mode-container");

  // Spara temainställningen i localstorage
  const isDarkMode = element.classList.contains('dark-mode' || 'dark-mode-container');
  localStorage.setItem('darkMode', isDarkMode.toString());
}

// Anropa setTheme vid sidans laddning för att sätta temat
document.addEventListener('DOMContentLoaded', setTheme);
  </script>
  
</body>
</html>
