

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .welcome-header {
    text-align: center;
    margin-bottom: 20px;
    display:flex;
    margin-top:0px;
 
   
   
  }

  .userName{
    color:#3498db;
   }

  .rydqvist{
    color:#3498db
   }
  
  .welcome-header h1 {
    font-size: 24px;
    color: #333;
  }
  
  .login-section {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    caret-color: #3498db;
    
 
  }
  
  .login-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .login-button:hover {
    background-color: #2980b9;
  }
  
  p {
    margin-top: 16px;
    font-size: 14px;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    margin-top: 10px;
  }
  



body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.5s ease-in-out,  opacity 0.5s linear !important;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin:  20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    padding: 20px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s linear !important;
  }
  
  label {
    margin-bottom: 8px;
    display: block;
    caret-color: #3498db;
  
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    caret-color: #3498db;
  }
  
  .create-post-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .create-post-button:hover {
    background-color: #2980b9;
  }
  
  .back-to-dashboard {
    display: block;
    margin-top: 16px;
    color: #3498db;
    text-decoration: none;
  }
  
  .back-to-dashboard:hover {
    text-decoration: underline;
  }

  .logout, 
  .newpost,
  .already-user {
    margin: 10px;
    margin-top: 10px;
  }

  .delete-button,  button, .reg-button {
    background-color: #68c0fa;
    color: #fff; 
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .delete-button:hover, button:hover, .reg-button:hover {
    background-color: #3498db; 
  }

  .postForm {
    width: 70%;
  }

  .alert-error {
    color: red;
  }

  .alert-ok{
    color:rgb(2, 156, 2);
 
   text-align: center;
    
  }

  .signature,
  .timestamp {
    font-size: 11px;
    font-style: italic;
    color: #006492;
    margin: 1px;
   
  }

  .post {
    border-bottom: 1px solid #9adfff; 
    padding-bottom: 10px; 
    margin-bottom: 20px;
    padding: 20px;
    margin: 10px;
    
  }


  .post-content {
 
   font-size: normal;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }



 




  .dark-mode-container{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  
  

  .button-container {
    display: flex;
    margin-bottom: -20px; 
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: -10px;
  }

  .dark-mode-container,
.dark-mode {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s linear !important;
}

body.dark-mode, 
.dark-mode-container {
  background-color: rgb(59, 59, 59) !important;
  color: rgb(255, 255, 255) !important;
}


.dark-mode-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}



 button {
  transition: background-color black 0.5s ease-in-out !important;
}


  
